.DropZoneFiles {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 80%;
  width: 80%;
  background-color: #eee;
  align-self: center;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
  flex-flow: column;
  border-radius: 5px;
  border: 2px dashed #00bcd4;

  .drop-description,
  .zon {
    align-items: center;
    flex-flow: column;
    justify-content: center;
    align-self: center;
    display: flex;
  }

  p {
    color: #00bcd4;
    font-size: 22px;
  }

  svg {
    height: 40px;
    fill: #00bcd4;
  }

  // Active case
  &.active {
    background-color: #00bcd4;
    p {
      color: white;
    }
    svg {
      fill: white;
    }
  }
}
